# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
ENV/
*.env

# Robot Framework
output.xml
log.html
report.html
*.log
*.db

# VSCode
.vscode/
.history/

# Selenium/Browser Drivers
*.log
*.pid

# Prints/Screenshots
prints/
screenshots/
png/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.orig

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*